
.error-message {
    background-color: rgba(201, 87, 87, 0.2); /* Transparent red background */
    color: #d39494; /* Red text color */
    padding: 10px; /* Add padding for better visibility */
    margin-bottom: 10px; /* Add some space between the error message and other elements */
    border-radius: 5px; /* Add rounded corners for a better visual appeal */
}

.warning-box{
    background-color: rgba(201, 87, 87, 0.2); /* Transparent red background */
    color: #d39494; /* Red text color */
    padding: 10px; /* Add padding for better visibility */
    margin-bottom: 10px; /* Add some space between the error message and other elements */
    border-radius: 5px;
}

.fa{
    font-size: large;
    margin-top:11px;
}
  
.logo{
    width:60px;
    height:60px;
    margin-right:10px;

}
.title-logo{
    margin-top:1000px;
    margin-bottom: 1000px;
    font-size: 40px;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.hh-custom-2 {
    margin-top: 100px !important; /* Reset margin to zero */
}


.error-message {
    background-color: rgba(201, 87, 87, 0.2);
    color: #d39494;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.warning-box{
    background-color: rgba(201, 87, 87, 0.2);
    color: #d39494;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-lg{
    background-color: #1396CE;
    color: white
}

.here-link{
    color: #1396CE;
}
.title{
    margin-top:20px;
}
.resetpassword-title{
    font-weight: 800;
    font-size:x-large;
}

.fa{
    font-size: large;
    margin-top:11px;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}