

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="/assets/css/lightbox.css">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo-container">
                            <img src="/assets/BW-logo.svg" class="bw-logo">
                            <span class="logo-text">
                                <span class="blue blue-logo">Bridge</span><span class="black">Wear</span>
                            </span>

                        </a>
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active blue">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Explore</a>
                                <ul>
                                    <li><a href="../home" class="blue">Products</a></li>
                                    <li><a href="/about-us" class="blue">About Us</a></li>
                                    <li><a href="../contact-us" class="blue">Contact Us</a></li>
                                </ul>
                            </li>
                            
                            <li class="blue"><a href="../login">Log In</a></li>
                            <li class="blue"><a href="../register">Sign Up</a></li>

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>We Are BridgeWear</h4>
                                <div class="main-border-button">
                                    <a href="/home">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="/assets/left-banner-image.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Suits</h4>
                                            <span>Best Suits</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Suits</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/home']" (click)="suitCategory()">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/suits-banner.webp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Sneakers</h4>
                                            <span>Best Sneakers</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Sneakers</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/home']" (click)="sneakerCategory()">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/sneakers-banner.webp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Pants</h4>
                                            <span>Best Pants</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Pants</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/home']" (click)="pantCategory()">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/pants-banner.webp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Accessories</h4>
                                            <span>Best Trend Accessories</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Accessories</h4>
                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                                <div class="main-border-button">
                                                    <a [routerLink]="['/home']" (click)="accessorieCategory()">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/assets/images/baner-right-image-04.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Sneakers Area Starts ***** -->
    <section class="section" id="men">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h2>Sneakers Latest</h2>
                            <span>Details to details is what makes Hexashop different from the other themes.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="men-item-carousel">
                            <div class="owl-men-item owl-carousel">
                                <p-carousel [value]="filterProductsByCategory('Sneakers')" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                                    <ng-template let-product pTemplate="item">
                                        <div class="item">
                                            <div class="thumb">
                                                <div class="hover-content">
                                                    <ul>
                                                        <li><a href=""><i class="fa fa-eye"></i></a></li>
                                                        <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                                    </ul>
                                                </div>
                                                <img [src]="'data:image/png;base64,' + product.productPic1" alt="User Image" class="user-image product-image round-image">
                                            </div>
                                            <div class="down-content">
                                                <h4>{{ product.productName }}</h4>
                                                <h6>{{ product.productDescription }}</h6>
                                                <span>{{ product.productPrice }} DT</span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Sneakers Area Ends ***** -->

    <!-- ***** T-Shirt Area Starts ***** -->
    <section class="section" id="women">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h2>T-Shirt's Latest</h2>
                            <span>Details to details is what makes Hexashop different from the other themes.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="men-item-carousel">
                            <div class="owl-men-item owl-carousel">
                                <p-carousel [value]="filterProductsByCategory('T-Shirts')" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                                    <ng-template let-product pTemplate="item">
                                        <div class="item">
                                            <div class="thumb">
                                                <div class="hover-content">
                                                    <ul>
                                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                    </ul>
                                                </div>
                                                <img [src]="'data:image/png;base64,' + product.productPic1" alt="User Image" class="user-image product-image round-image">
                                            </div>
                                            <div class="down-content">
                                                <h4>{{ product.productName }}</h4>
                                                <h6>{{ product.productDescription }}</h6>
                                                <span>{{ product.productPrice }} DT</span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** T-Shirt Area Ends ***** -->
    <section class="section" id="kids">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-heading">
                            <h2>Pants's Latest</h2>
                            <span>Details to details is what makes Hexashop different from the other themes.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="men-item-carousel">
                            <div class="owl-men-item owl-carousel">
                                <p-carousel [value]="filterProductsByCategory('Pants')" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                                    <ng-template let-product pTemplate="item">
                                        <div class="item">
                                            <div class="thumb">
                                                <div class="hover-content">
                                                    <ul>
                                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                    </ul>
                                                </div>
                                                <img [src]="'data:image/png;base64,' + product.productPic1" alt="User Image" class="user-image product-image round-image">
                                            </div>
                                            <div class="down-content">
                                                <h4>{{ product.productName }}</h4>
                                                <h6>{{ product.productDescription }}</h6>
                                                <span>{{ product.productPrice }} DT</span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    

    <section class="u-align-center u-section-1">
        <div>
          <h2 class="how-it-works">HOW IT WORKS</h2>
          <div>
            <div class="u-repeater u-repeater-1">
                <!--
                <div class="u-align-center">
                    <div class="u-container-layout ">
                        <img class="" alt="" src="assets/Group 6.png">
                        
                        <h2>SHARE IT</h2>
                        <p class="u-text-grey-40 ">Share listings with your followers and ons social media to help shoppers discover your listings! More sharing = more sales. </p>
                        
                    </div>
                  </div>
                -->
  
              <div class="u-align-center">
                <div class="u-container-layout">
                  <img class="u-image u-image-default u-image-1 hiw" alt=""  src="assets/img-seller-list it@2x-7dd6cb4847d00b8228848560242d77cf9d3aeae40dd0532e031330cbb5a64ffc.png">
                  
                  <h2>LIST IT</h2>
                  <p class="u-text-grey-40 ">Closet full of clothes you never wear? Snap a photo, price it, and list it in less than 60 seconds—right from your phone!</p>
                  
                </div>
              </div>
  
              <div class="u-align-center">
                <div class="u-container-layout ">
                    <img class="u-image u-image-default u-image-1 hiw" alt="" src="assets/img-seller-share it@2x-bb312b6403d588204146441b9748737b34d8f261a9e6c5565e19740650201542.png">
                    
                    <h2>SHARE IT</h2>
                    <p class="u-text-grey-40 ">Share listings with your followers and ons social media to help shoppers discover your listings! More sharing = more sales. </p>
                    
                </div>
              </div>
  
              <div class="u-align-center">
                <div class="u-container-layout ">
                  <img class="u-image u-image-default u-image-1 hiw" alt="" src="assets/img-seller-earn cash@2x-e641fdae400eb9e29c66f2e730f7e9ddea41891ee9a31c3016e78eeeb996c0e8.png">
                  
                  <h2>EARN MONEY</h2>
                  <p class="u-text-grey-40 ">Shipping! no worries we wil take care of that, and you’ll earn cash once the item is delivered!</p>
                  
                </div>
              </div>
            
            </div>
          </div>
        </div>
    </section>

    <!-- ***** Social Area Starts ***** -->
    <section class="section u-align-center" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>What People Are Saying About Us!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p-carousel [value]="reviews" [numVisible]="1" [numScroll]="1" [circular]="true" [responsiveOptions]="reviewResponsiveOptions" autoplayInterval="3000" class="custooom">
                <ng-template let-review pTemplate="item">
                    <div class="item">
                        <div class="">
                            <img [src]="review.review_user_pic" alt="User Image" class="user-review-image">
                        </div>
                        <div class="down-content">
                            <h4 class="review-content">{{ review.review_content }}</h4>
                            <p class="review-user">{{ review.review_user }} -<span class="review-state"> {{review.review_state}} </span></p>

                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->


    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/assets/bw-icno-text-logo.svg" alt="hexashop ecommerce templatemo" class="bw-icon-text-logo">
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">bwcompany.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Quick Info</h4>
                    <ul>
                        <li><a href="#">Office Location<br>sldfksf</a></li>
                        <li><a href="#">Work Hours <br>7:30 AM - 9:30 pm<br>Daily</a></li>
                        <li><a href="#">Social Media<br>Comming Soon...</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">  
                    </div>
                </div>
            </div>
        </div>
    </footer>
    



