
.mat-dialog-container {
    max-width: 6000px;
    width: 100% ;
  }

  /* Override snack bar close button color */
::ng-deep .mat-snack-bar-container button.mat-snack-bar-close {
  color: white; /* Change to your desired color */
}
/* Override snack bar close button color */
::ng-deep .mat-snack-bar-container button.mat-snack-bar-close {
  color: white; /* Change to your desired color */
}
/* Override snack bar close button color globally */
.mat-snack-bar-container button.mat-snack-bar-close {
  color: white !important; /* Change to your desired color */
}


  
  
  .dialog-title {
    font-size: 1.5rem;
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dialog-label {
    margin-bottom: 10px;
  }
  
  .dialog-form-field {
    width: 100%;
  }
  
  .dialog-input {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .send-button {
    flex-grow: 1; /* Take remaining space */
  }
  
  .close-button {
    margin-left: 10px;
  }

div.message-container {
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
  }
  
  div.message-container p {
    margin: 8px 0;
  }
  
  div.message-container p.success {
    background-color: rgba(155, 214, 155, 0.2); /* Adjust the color as per your preference */
    color: #3b944e; /* Adjust the color as per your preference */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  div.message-container p.error {
    background-color: rgba(201, 87, 87, 0.2);
    color: #d39494;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
    
  div{
    width:100%;
; /* Show ellipsis (...) for overflow */
  }