
<h2 mat-dialog-title class="dialog-title">Find your account</h2>
<mat-dialog-content  class="dialog-content">

  <label class="dialog-label">Please enter your email</label>

  <mat-form-field class="dialog-form-field">
    <input matInput placeholder="Email" type="email" [(ngModel)]="userEmail" class="dialog-input">
  </mat-form-field>
</mat-dialog-content>



<mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" (click)="onSend()" class="send-button">Send</button>
</mat-dialog-actions>
