<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img [src]= " userProfileInfo?.userProfilePic" alt="Admin" class="round-image" width="150">
                    <div class="mt-3">
                      <h4>{{userProfileInfo?.userUsername}}</h4>
                      

                      <button mat-stroked-button class="follow-button" (click)="toggleFollow()" *ngIf="userId != productSellerId">
                        <i class="fa-solid blue" [ngClass]="isFollowing ? 'fa-check' : 'fa-user-plus'"></i>
                        <span>{{ isFollowing ? 'Following' : 'Follow' }}</span>
                      </button>
                      

                      <div class="user-bio">
                        <!--<div class="quotation-mark">“</div>-->
                        <i class="fa-solid fa-quote-left"></i>
                        <p class="text-secondary">{{ userProfileInfo?.userBio }}</p>
                        <i class="fa-solid fa-quote-right"></i>
                      </div>

                      <!--<button class="btn btn-primary">Follow</button>-->

                      <ul _ngcontent-serverapp-c32="" class="aoi">
                        <li _ngcontent-serverapp-c32="" class="aoj">
                          <a _ngcontent-serverapp-c32="" class="aku" href="/dressing/7570b5a1-1075-42a5-88bb-0ae68d7d28ea" > Articles 
                            <h5 _ngcontent-serverapp-c32="" class="ali">{{productCount}}</h5>
                          </a>
                        </li>

                        <li _ngcontent-serverapp-c32="" class="aoj">
                          <ng-container *ngIf="followingCount > 0; else disableMenu">
                            <a _ngcontent-serverapp-c32="" href="javascript:void(0)" class="aku" [matMenuTriggerFor]="followingMenu"> Following 
                              <h5 _ngcontent-serverapp-c32="" class="ali">{{followingCount}}</h5>
                            </a>
                          </ng-container>
                          <ng-template #disableMenu>
                            <a _ngcontent-serverapp-c32="" href="javascript:void(0)" class="aku" disabled> Following 
                              <h5 _ngcontent-serverapp-c32="" class="ali">{{followingCount}}</h5>
                            </a>
                          </ng-template>
                          
                          <mat-menu #followingMenu="matMenu" class="menu-item">
                            <div *ngFor="let following of followingInfo">
                              <span mat-menu-item>
                                <img [src]="'data:image/png;base64,' + following.userProfilePic" class="follow-pic" alt="Profile Picture">
                                {{ following.userUsername }}
                              </span>
                            </div>
                          </mat-menu>
                        </li>
                        
                        
                        <li _ngcontent-serverapp-c32="" class="aoj">
                          <ng-container *ngIf="followerCount > 0; else disableMenu">
                            <a _ngcontent-serverapp-c32="" href="javascript:void(0)" class="aku" [matMenuTriggerFor]="followersMenu"> Followers 
                              <h5 _ngcontent-serverapp-c32="" class="ali">{{followerCount}}</h5>
                            </a>
                          </ng-container>
                          <ng-template #disableMenu>
                            <a _ngcontent-serverapp-c32="" href="javascript:void(0)" class="aku" disabled> Followers 
                              <h5 _ngcontent-serverapp-c32="" class="ali">{{followerCount}}</h5>
                            </a>
                          </ng-template>
                          
                          <mat-menu #followersMenu="matMenu" class="menu-item">
                            <div *ngFor="let follower of followerInfo">
                              <span mat-menu-item>
                                <img [src]="'data:image/png;base64,' + follower.userProfilePic" class="follow-pic" alt="Profile Picture">
                                {{ follower.userUsername }}
                              </span>
                            </div>
                          </mat-menu>
                        </li>
                        
                          
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card mt-3" *ngIf="userId == productSellerId">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <img src="assets/info.svg" alt="Phone Icon" class="mr-2 icon-inline" />
                      About You (only you can see this)
                    </h6>
                  </li>
                
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <img src="assets/phone.svg" alt="Phone Icon" class="mr-2 icon-inline" />
                      Phone
                    </h6>
                    <span class="text-secondary">{{userProfileInfo?.userPhoneNumber}}</span>
                  </li>


                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <img src="assets/at-sign.svg" alt="At Sign Icon" class="mr-2 icon-inline" />
                      Email
                    </h6>
                    <span class="text-secondary">{{userProfileInfo?.userEmail}}</span>
                  </li>

                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                      <img src="assets/calendar.svg" alt="At Sign Icon" class="mr-2 icon-inline" />
                      Birth Date:
                    </h6>
                    <span class="text-secondary">{{ userProfileInfo?.userBirthDate | date:'yyyy-MM-dd' }}</span>
                  </li>
                </ul>

                
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    
                    <mat-tab-group>
                      <mat-tab label="On Sale" >
                        <div class="container mt-5">
                          <div *ngIf="saleProducts && saleProducts.length > 0" class="row">
                            <div class="col-md-3" *ngFor="let product of saleProducts" >
                              <div class="card">
                                <div class="image-container">
                                  <div class="first">
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                  </div>
                  
                                  <img [routerLink]="['/product-detail', product.productId]" [src]="'data:image/png;base64,' + product.productPic1" alt="Product Image" class="img-fluid rounded thumbnail-image">
                                </div>

                                <div class="product-detail-container p-2">
                                  <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="dress-name">{{ product.productName }} </h5>
                                    <div class="d-flex flex-column mb-2">
                                      <span class="new-price">{{ product.productPrice }} DT</span>
                                      <small class="old-price text-right">{{ product.productOriginalPrice }} DT</small>
                                    </div>
                                  </div>
                  
                                  <div class="d-flex align-items-center">

                                    <div class="additional-text">
                                      <span> Size: {{product.productSize}} </span>
                                      <br>
                                      <span> Brand: {{product.productBrand}} </span>
                                    </div>

                                  </div>
                    
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          <ng-container *ngIf="!(products && products.length > 0)">
                            <!-- Display the image when the products array is empty -->
                            <img src="/assets/emptyWardrobewebp.webp" alt="Empty Table Image" class="empty-wardrobe">
                          </ng-container>
                        </div> 
                      </mat-tab>

                      <mat-tab label="Solde">
                        <div class="container mt-5">
                       <!-- <img src="/assets/emptyWardrobewebp.webp" alt="Empty Table Image" class="empty-wardrobe"> -->
                        <div *ngIf="soldProducts && soldProducts.length > 0" class="row">
                          <div class="col-md-3" *ngFor="let product of soldProducts" >
                            <div class="card">
                              <div class="image-container">
                                <div class="first">
                                  <div class="d-flex justify-content-between align-items-center">
                                  </div>
                                </div>
                
                                <img [routerLink]="['/product-detail', product.productId]" [src]="'data:image/png;base64,' + product.productPic1" alt="Product Image" class="img-fluid rounded thumbnail-image">
                              </div>

                              <div class="product-detail-container p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                  <h5 class="dress-name">{{ product.productName }} </h5>
                                  <div class="d-flex flex-column mb-2">
                                    <span class="new-price">{{ product.productPrice }} DT</span>
                                    <small class="old-price text-right">{{ product.productOriginalPrice }} DT</small>
                                  </div>
                                </div>
                
                                <div class="d-flex align-items-center">
                                  <div class="additional-text">
                                    <span> Size: {{product.productSize}} </span>
                                    <br>
                                    <span> Brand: {{product.productBrand}} </span>
                                  </div>

                                </div>
                  
                              </div>
                              
                            </div>
                          </div>
                        </div>
                          <ng-container *ngIf="!(products && products.length > 0)">
                            <!-- Display the image when the products array is empty -->
                            <img src="/assets/emptyWardrobewebp.webp" alt="Empty Table Image" class="empty-wardrobe">
                          </ng-container>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                    
                  
                  </div>
                </div>
              </div>





            </div>

          </div>

        </div>
    </div>